@model IEnumerable<Review>



@{
}
@*For the way we did this we need a new tab for it. Review *@

@foreach(Review review in Model){
<<<<<<< HEAD:Views/Review/Index.cshtml
    <span>@review.Name : @review.Content</span>
    <br>
=======
  //  <p>Restaurants: @review.RestaurantName </p> need help to make this work
    <p>Restaurants: @review.RestaurantId </p>
    <span>Name: @review.Name</span>
    <br>
    <p>Review: @review.Content</p>
    
>>>>>>> a091712416aaa50061dc41cb48a5a88e17b501e4:Views/ReviewControlle1/Index.cshtml
}