@model Restaurant

@*
    
*@
 

 <div>
     <h2>@Model.Name</h2>

   
       <p>@Model.Information </p>
    

    <span>Location: @Model.Address</span>

    <a href="/Review/Add/?restaurantId=@Model.Id">Write a review</a>

       <div class="review-list">
          @foreach(Review review in Model.Reviews)
           {
            <p class="review-item">@review.Name : @review.Content</p>
            <a href="/Review/Edit/@review.Id">Edit</a>
        }
    </div>
</div>
